@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Poppins:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
  margin: 0px;
  padding: 0px;
  /* font-family: 'Neuton', serif; */
  font-family: 'Poppins', sans-serif;
}

:root {
  --maroon: #8e182c;
  --orange: #ffbe00;
  --p1: #E0E1DD;
  --p2: #778DA9;
  --p3: #415A77;
  --p4: #1B263B;
  --p5: #0D1B2A;
}
.light {
  --bg: var(--p1);
  --text: var(--p4);
  --text-two: var(--p5);
  --nav-text: var(--p2);
  --border-color: var(--p2);
  --navbar-color: var(--p3);
  --navbar-light: var(--p2);
}
.dark {
  --bg: var(--platinum);
  --text: var(--charcoal);
  --nav-text: var(--moonstone);
  --border-color: var(--moonstone);
  --navbar-color: var(--navbar-light);
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--bg);
  color:  var(--text);
  padding:0px 0px;
}
header {
  font-size: 50px;
  text-align: center;
  /* text-decoration: underline; */
}
header:hover{
  transform: scale(20px);
}
header .header {
  font-size: 12vw;
  font-family: "Courgette", cursive;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.column{
  padding: 10px;
  background-color:  var(--nav-text);
  margin: 30px;
  /* height: 250px; */
  border-radius: 15px;
  box-shadow: 15px -15px 0px var(--navbar-color);
  transition: 300ms ease-in-out;
}
.column-main{
  padding: 20px 10px;
  background-color:  var(--text);
  margin: 30px;
  /* height: 350px; */
  color: var(--bg);
  border-radius: 15px;
  box-shadow: 15px -15px 0px var(--navbar-light);
  transition: 300ms ease-in-out;
}
.column-main:hover{
  box-shadow: 15px -15px 0px var(--navbar-light),  30px -30px 0px  var(--navbar-color);
  transition: 300ms ease-in-out
}
.column img {
  width: 75%;
}
/* .card{ */
  /* display: flex;
  align-items: center;
  justify-content: center;   */
/* } */
button {
  background-color:  var(--bg);
  border-color: var(--bg);
  border-radius: 8px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: double;
  color: var(--text);
  padding: 10px 20px;
}
button:hover {
  background-color: var(--text);
  color:  var(--bg);
  transition: 250ms ease-in;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 30px 0px;
  font-size: 15px;
  color: var(--bg);
  background-color: var(--text);
}
i {
  font-family: 'Times New Roman', Times, serif;
}
nav ul a {
  font-size: 25px;
  color:  var(--bg);
  transition: 600ms;
  text-decoration: none;
}
nav ul a:hover {
  color: var(--navbar-light);
  transition: 100ms;
}
nav ul {
  padding: 5px 0px;
  background-color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  margin: 0px 2vw;
  list-style: none;
}
@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 524px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}